<nav class="rail">
  <cn-navigation-icon noun="design"></cn-navigation-icon>
  <cn-navigation-icon noun="design" label="Iconogragpy"></cn-navigation-icon>
  <a href="/design-tokens">
    <cn-navigation-icon noun="tokens" label="Design Tokens"></cn-navigation-icon>
  </a>
</nav>