---
import Page from '../layout/page.astro';
import PaletteColorDemo from '../components/palette-color-demo.astro';
---

<Page>
  <h1 style="width:100%">Color Theme</h1>
  <article>
    <h2>Base colors</h2>
    <div class="asset-grid">
      <PaletteColorDemo name="--color-primary" />
      <PaletteColorDemo name="--color-on-primary" />
      <PaletteColorDemo name="--color-secondary" />
      <PaletteColorDemo name="--color-on-secondary" />
      <PaletteColorDemo name="--color-contrast" />
      <PaletteColorDemo name="--color-on-contrast" />
    </div>
  </article>
  <section>
    <h2>Chroma 2.0.0-alpha.1 palette</h2>
    <h3>Key color</h3>
    <PaletteColorDemo name="--chroma-key-10" />
    <PaletteColorDemo name="--chroma-key-20" />
    <PaletteColorDemo name="--chroma-key-30" />
    <PaletteColorDemo name="--chroma-key-40" />
    <PaletteColorDemo name="--chroma-key-50" />
    <PaletteColorDemo name="--chroma-key-60" />
    <PaletteColorDemo name="--chroma-key-70" />
    <PaletteColorDemo name="--chroma-key-80" />
    <PaletteColorDemo name="--chroma-key-90" />
    <PaletteColorDemo name="--chroma-key-95" />
    <PaletteColorDemo name="--chroma-key-99" />
  </section>
</Page>
