---
import Page from "../layout/page.astro";
import Iconlist from "../components/iconlist.astro";
---
<Page>
  <h1>Iconography</h1>
  <article class="side-by-side breakout">
    <section class="half light">
      <Iconlist />
    </section>
    <section class="half dark">
        <Iconlist />
      </section>
  </article>
  <section style="display:flex; margin: 1rem; gap: 1rem">
    <cn-icon noun="d20" xsmall />
    <cn-icon noun="d20" small />
    <cn-icon noun="d20" medium />
    <cn-icon noun="d20" large />
    <cn-icon noun="d20" xlarge />
  </section>
</Page>

<style lang="sass">
.side-by-side
  display: flex
  flex-direction: row
  flex-wrap: no-wrap
  justify-content: space-between
  align-items: flex-start
  align-content: flex-start
  .half
    padding: var(--cn-gap)
    width: 50%
    display: flex
    gap: var(--cn-gap)
</style>