---
import Basehead from "../componets/basehead.astro";

---

<html lang="en">
	<Basehead title="Cyan Design System" />
	<body>
		<h1>Astro</h1>
		<cn-icon noun="d20"/>
		<cn-icon noun="arrow" size="large"/>
	</body>
</html>
