---
import Ported from '../components/docs/ported.md';
import Page from '../layout/page.astro';
---

<Page>
  <h1 style="width:100%">Cyan Design System</h1>
  <cn-icon noun="d20"></cn-icon>
  <cn-icon noun="arrow" small></cn-icon>

  <article>
    <Ported />
  </article>
</Page>
