---
import Basehead from "../componets/basehead.astro";
import Rail from "../componets/rail.astro";

---

<html lang="en">
	<Basehead title="Cyan Design System" />
	<body>
	  <Rail />
	  <main style="padding-left: 96px">
		<div  class="content-grid">
		<h1 style="width:100%">Cyan Design System</h1>
		<cn-icon noun="d20"/>
		<cn-icon noun="arrow" small/>
		<p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
	</div>
	</main>
	</body>
</html>
