---
import Ported from '../components/docs/ported.md';
import Installation from '../components/docs/installation.md';
import Page from '../layout/page.astro';
import Intro from '../components/home/intro.md';
---

<Page>
  <div class="content-columns">
    <article class="column-l">
      <Intro />
      <Ported />
    </article>
    <article class="column-s downscaled">
     <Installation />
    </article>
  </div>
</Page>
