---
import Basehead from "../components/basehead.astro";
import Rail from "../components/rail.astro";

---

<html lang="en">
	<Basehead title="Cyan Design System" />
	<body>
	  <Rail />
	  <main style="padding-left: 96px">
		<div  class="content-grid">
		<h1 style="width:100%">Cyan Design System</h1>
		<cn-icon noun="d20"/>
		<cn-icon noun="arrow" small/>
	  <div style="background: yellow">
      <svg height='100px' width='100px' viewBox="0 0 100 100">
		<use href="/icons/d20.svg#icon" />
	  </svg>
	  </div>
		<p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
	</div>
	</main>
	</body>
</html>
