---
import Ported from '../components/docs/ported.md';
import Installation from '../components/docs/installation.md';
import Page from '../layout/page.astro';
---

<Page>
  <article class="content-grid">
  <h1>Cyan <span class="secondary">[NEXT]</span></h1>

  <section>
    <Installation />
    <Ported />
  </section>
  </article>
</Page>
