---
import Ported from '../components/docs/ported.md';
import Installation from '../components/docs/installation.md';
import Page from '../layout/page.astro';
---

<Page noun="cyan">
  <h1>Cyan <span class="secondary">[NEXT]</span></h1>

  <article>
    <Installation />
    <Ported />
  </article>
</Page>
