---
import Page from "../layout/page.astro";
---
<Page title="Inputs">
  <h1>Controls & Inputs</h1>
<!-- 
  <article class="breakout elevation-1">
    <h2 style="display: flex; gap: var(--cn-gap)">
      <cn-icon noun="gamepad" large></cn-icon>
        Buttons</h2>
    <p>We provide button styling for HTML <code>{'<button>'}</code> and <code>{'<a class="button">'}</code> elements.</p>
    <p>A button has three substyles: [default], <code>.text</code> and <code>.call-to-action</code>. All three
      styles support styled pseudo-classes for <code>:active</code>, <code>:hover</code>, and <code>:disabled</code></p>
      
    <table>
      <thead>
        <tr>
          <th>button</th>
          <th>a.button</th>
        </tr>
      </thead>
        <tbody>
            <tr>
            <td>
                <button>Default</button>
            </td>
            <td>
                <a class="button">Default</a>
            </td>
            </tr>
            <tr>
            <td>
                <button class="text">Text</button>
            </td>
            <td>
                <a class="button text">Text</a>
            </td>
            </tr>
            <tr>
            <td>
                <button class="call-to-action">Call to Action</button>
            </td>
            <td>
                <a class="button call-to-action">Call to Action</a>
            </td>
            </tr>
    </table>
  </article> -->

  <h2>cn-share-button</h2>

  <article>
    <h3>Example usage</h3>
    <table>
      <thead>
        <tr>
          <th>HTML</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <pre><code>&lt;cn-share-button&gt;&lt;/cn-share-button&gt;</code></pre>
          </td>
          <td>
            <cn-share-button></cn-share-button>
          </td>
        </tr>
        <tr>
          <td>
            <pre><code>&lt;cn-share-button label="Jaa" /&gt;</code></pre>
          </td>
          <td>
            <cn-share-button label="Jaa"></cn-share-button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>

</Page>