---
const { title } = Astro.props;

const pageTitle = title || "Cyan Design System [NEXT]" 
---
<header class="cn-app-bar appBar">
  <h3>{ pageTitle }</h3>
  <slot></slot>
  <div style="flex: 1"></div>
  <cn-lightmode-button></cn-lightmode-button>
</header>

<style>
.appBar {
  margin-left: 80px;
}
</style>
