---
const { title, noun } = Astro.props;

const pageTitle = title || "Cyan Design System [NEXT]" 
---
<header class="cn-app-bar appBar">
  <cn-tray-button></cn-tray-button>
  <h3>
    { noun && <cn-icon noun={noun} style="margin-right: 8px"></cn-icon> }
    { pageTitle }</h3>
  <slot></slot>
  <div style="flex: 1"></div>
  <cn-lightmode-button></cn-lightmode-button>
</header>
