---
import { getCollection } from 'astro:content';

const { collection } = Astro.props;

const allComponents = await getCollection(collection);
---

<h3>Web Components</h3>
<ul>
  {
    allComponents.map((p) => (
      <li>
        <a href={'/' + collection + '/' + p.slug}>{p.data.name}</a>
      </li>
    ))
  }
</ul>
