---
import { getCollection } from 'astro:content';

const { collection } = Astro.props;

type collectionIten = {
  slug: string;
  data: {
    name: string;
    noun: string|undefined;
  }
}

const allComponents = await getCollection(collection) as collectionIten[];
---

<h3>Layout</h3>
<ul>
  {
    allComponents.map((p) => (
      <li>
        <a href={'/' + collection + '/' + p.slug}>
          {p.data.noun && <cn-icon noun={p.data.noun} small></cn-icon>}
          {p.data.name}</a>
      </li>
    ))
  }
</ul>
