---
const currentPath = Astro.url.pathname;

type RailItem = {
  label?: string;
  href: string;
  icon: string;
}

const rail:Array<RailItem> = [
  {
    href: '/',
    icon: 'd20',
  },
  {
    href: '/iconography',
    icon: 'design',
    label: 'Icons',
  },
  {
    href: '/design-tokens',
    icon: 'tokens',
    label: 'Tokens',
  },
  {
    href: '/inputs',
    icon: 'gamepad',
    label: 'inputs',
  }
]

---
<nav class="rail">
{ rail.map((item) => {
  const isActive = currentPath === item.href;
  return (
    <a href={item.href}>
      <cn-navigation-icon noun={item.icon} label={item.label} checked={currentPath === item.href}></cn-navigation-icon>
    </a>
  )
})
}
</nav>