---
const currentPath = Astro.url.pathname;

type RailItem = {
  label?: string;
  href: string;
  icon: string;
};

const rail: Array<RailItem> = [
  {
    href: '/',
    icon: 'd20',
  },
  {
    href: '/design-tokens',
    icon: 'tokens',
    label: 'Tokens',
  },
  {
    href: '/inputs',
    icon: 'gamepad',
    label: 'inputs',
  },
  {
    href: '/theming',
    icon: 'palette',
    label: 'Theming'
  },
  {
    href: '/webcomponents',
    icon: 'components',
    label: 'Components'
  },
  {
    href: '/typography',
    icon: 'font',
    label: 'Layout'
  }
];
---

<nav class="rail">
  {
    rail.map((item) => {
      const isActive = currentPath === item.href;
      return (
        <a href={item.href}>
          <cn-navigation-icon
            !active = {isActive}
            noun={item.icon}
            label={item.label}
            checked={currentPath === item.href}
          />
        </a>
      );
    })
  }
</nav>
