---
import { getCollection } from 'astro:content';
const allComponents = await getCollection('webcomponents');
---
<h3>Components</h3>
<ul>
  {allComponents.map(p => (
    <li>
      <a href={'/webcomponents/'+p.slug}>
        {p.data.noun ? <cn-icon noun={p.data.noun} small /> : ''}
        {p.data.name}</a></li>
  ))}
</ul>
