---
import ContentIndexTray from '../../components/ContentIndexTray.astro';
import Page from '../../layout/page.astro';
---

<Page>
  <ContentIndexTray slot="app-tray" collection="inputs"/>
  <h1>Inputs</h1>
</Page>
