---
import ContentIndexTray from '../../components/ContentIndexTray.astro';
import Page from '../../layout/page.astro';
---

<Page>
  <ContentIndexTray slot="app-tray" collection="inputs"/>
  <div class="content-columns">
     <h1>Inputs</h1>
  </div> 
</Page>
