---
import ContentIndexTray from '../../components/ContentIndexTray.astro';
import Page from '../../layout/page.astro';
---

<Page>
  <ContentIndexTray slot="app-tray" collection="typography"/>
  <h1>Layout</h1>
  <p class="head-1 small subtitle">And typography</p>
</Page>
