---
import Basehead from "../componets/basehead.astro";
import Rail from "../componets/rail.astro";

---

<html lang="en">
	<Basehead title="Cyan Design System" />
	<body>
	  <Rail />
	  <main style="margin-left: 96px">
		<slot></slot>
	</body>
</html>
