---
import WebComponentTray from '../../components/web-component-tray.astro';
import Page from '../../layout/page.astro';
---
<Page>
  <WebComponentTray slot="app-tray"></WebComponentTray>
  <h1>Web Components, see tray for index</h1>
</Page>